# Default owner for everything
* @juliamertz

# Individual style owners
/styles/4get/ @ThatOneCalculator @juliamertz
/styles/advent-of-code/ @adriankarlen @juliamertz
/styles/bluesky/ @juliamertz
/styles/brave-search/ @adriankarlen @juliamertz
/styles/chatgpt/ @adriankarlen @juliamertz
/styles/claude/ @juliamertz
/styles/discord/ @juliamertz
/styles/docs.rs/ @juliamertz
/styles/github/ @juliamertz
/styles/hetzner-cloud/ @juliamertz
/styles/jira/ @adriankarlen @juliamertz
/styles/nixos-search/ @JTrenerry @juliamertz
/styles/octopus/ @adriankarlen @juliamertz
/styles/phemex/ @KainoaKanter @juliamertz
/styles/proton/ @juliamertz
/styles/scribe/ @ThatOneCalculator @juliamertz
/styles/status.cafe/ @bunfluff @juliamertz
/styles/twitch/ @adriankarlen @juliamertz
/styles/wikiwand/ @adriankarlen @juliamertz
/styles/youtube/ @juliamertz
/styles/zimbra/ @ThatOneCalculator @juliamertz
