body {
    background-color: #191724;
    color: #e0def4;
    font-family: "Cartograph CF";
}

a, a:link {
    color: #9ccfd8 !important;
}

a:visited {
    color: #c4a7e7 !important;
}

pre, img {
    border-radius: 20px;
    background-color: #26233a;
}